* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #030109;
  color: #ffffff;
  font-family: 'Press Start 2P', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.character-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 100px;
  text-align: center;
}

.title-section {
  color: #f4f4f4;
  font-size: 13px;
  letter-spacing: 2px;
  text-shadow: 3px 3px 0px #736032;
  text-transform: uppercase;
}

/* 2. Characters */
.characters-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 50px;
  flex-wrap: wrap;
}

.character-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.character-card:hover {
  transform: translateY(-5px);
}


/* Sprite container */
.sprite-placeholder {
  width: 110px;
  height: 110px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sprite */
.sprite {
  width: 96px;
  height: 96px;
  
  filter:grayscale(100%);
  background-repeat: no-repeat;
  background-size: 2304px 96px;
  image-rendering: pixelated;
  transform: scale(1); 
  transform-origin: top top;
}
.sprite.active {
  filter:grayscale(0%);
  animation: character-animation 1s steps(6) infinite;
}
.character-card:hover .sprite {
  filter:grayscale(0%);
  animation: character-animation 1s steps(6) infinite;
}

@keyframes character-animation {
  from {
    background-position: -1728px 0;
  }

  to {
    background-position: -2304px 0;
  }
}

.character-name {
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 1px;
}

.start-section {
  margin-top: 20px;
}

.play-button {
  background: none;
  border: none;
  color: #ffffff;

  font-family: 'Press Start 2P', monospace;
  font-size: 18px;

  cursor: pointer;
  letter-spacing: 2px;

  transition: color 0.2s ease, transform 0.2s ease;
}

.play-button:hover {
  color: #ff8ca3;
  transform: scale(1.05);
}